@model IEnumerable<Items>

@{
    ViewData["Title"] = "Home Page";
}

@*@{
    var itemcount = 0;
}*@


@*<div class="row">
    <div class="col-md-8">
        <div class="row">
    @foreach (var item in Model)
        {
            if(itemcount < 3)
            {

                var no_of_items = @item.Name.Replace(' ','_') + "_value";

                <div class="col-md-3">@item.Name &nbsp;&nbsp;&nbsp;&nbsp; @item.Price aed<br /><br />
                    <input type="number" id=@no_of_items value="1" style="width:30px;height:30px;" /> 
                    <a class="btn btn-lg  p-1 bg-danger text-white btn-outline-light" onclick="addToBill('@item.Name.Replace(' ','_')',@item.Price)">
                        <i class="bi bi-file-plus-fill"></i>Add</a>
                    <br />
                    <br />
                </div>

                

                itemcount++;
            }
            if(itemcount == 2)
            {
                itemcount = 0;
            }
        }
        </div>
    </div>
    <div class="col-md-4" id="billsection"></div>
</div>*@

<div class="col-md-12" style="padding-bottom:50px;"><input type="text" class="form-control" id="searchInput" autofocus="autofocus" onkeyup="searchItems()" placeholder="Search for items.."></div>

<div>
    <div class="col-md-8">
        <table id="itemsTable" width="70%" style="float:left">
            <tr><th>Item name</th><th>Price</th><th>Quantity</th><th>Action</th></tr>
            @foreach (var item in Model)
            {
                var no_of_items = @item.Name.Replace(' ','_') + "_value";
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td><input type="number" id=@no_of_items value="1" style="width:30px;height:30px;" /></td>
                    <td><a class="btn btn-lg  p-1 bg-danger text-white btn-outline-light" onclick="addToBill('@item.Name.Replace(' ','_')',@item.Price)">
                        <i class="bi bi-file-plus-fill"></i>Add</a></td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4" id="billsection" style="display:inline-block"></div>
</div>


<script>
    $(document).ready(function(){
    $("#searchInput").focus();
});
    </script>

<script>
    function searchItems() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("itemsTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


<script>
var itemsinbill = {"addSignatureInBill":"", "addDeliveryInBill":"","addMobileNo":"", "itemsadded":[]};
var iteminbillid = 0;

    function addToBill(name, price) {
        var itemadded = { "id": 0, "name": "", "price": 0, "quantity": 0, "total": 0 };

        iteminbillid++;

        itemadded.id = iteminbillid;
        itemadded.name = name.replace("_"," ");
        itemadded.price = price;
        itemadded.quantity = document.getElementById(name + "_value").value;
        itemadded.total = price * document.getElementById(name + "_value").value;

        addInBillArray(itemadded);

        console.log("added", itemadded);

        createtable();

    }


function addInBillArray(itemadded){

    var itemalreadyinbill = "no";

    itemsinbill.itemsadded.forEach(function(item) {

        if (item.name == itemadded.name) {

            itemalreadyinbill = "yes";
            item.quantity = parseInt(itemadded.quantity) + parseInt(item.quantity);
            item.total = item.quantity * item.price;
           
        }

    });

    if (itemalreadyinbill == "no") {
        itemsinbill.itemsadded.push(itemadded);
    }
}


function createtable() {

    var billtotal = 0;

    var tablehtml = "<table class='table-condensed' width='100%'><tr><th colspan=5>BILL</th></tr>";
    tablehtml += "<tr><th>Item</th><th>Price</th><th>Quantity</th><th>Total</th><th></th></tr>"

    itemsinbill.itemsadded.forEach(function(item) {

        billtotal += parseFloat(item.total);

        tablehtml += "<tr><td>" + item.name + 
        "</td>" + "<td>" + item.price + "</td>" + 
        "<td>" + item.quantity + "</td>" +"<td>" + item.total + 
        "</td><td><a class='btn btn-sm btn-outline-danger' style='height:20px' onclick='deletefrombill("+item.id+")'><i class='bi bi-trash' ></i></a></td></tr>";
});
    tablehtml += "<tr><td style='height:30px;'></td><td></td><td></td><td></td><td></td></tr>";
    tablehtml += "<tr><td></td><td></td><td></td><td colspan='2'>Total = " + billtotal + " aed</td></tr>";
    tablehtml += "<tr><td style='height:30px;'></td><td></td><td></td><td></td><td></td></tr>";
    tablehtml += "<tr><td style='height:30px;'></td><td></td><td><a class='btn btn-lg btn-secondary' onclick='generatebill()'>BILL</a></td><td></td><td></td></tr>";
    tablehtml += "<tr><td colspan=1><input type='checkbox' onchange='additionaldetails(this)' id='phoneno' /> Phone No ? </td><td colspan=4><input type='text' class='form-control' id='phonenovalue' placeholder='Please enter phone number.' style='display:none' /></td></tr>";
    tablehtml += "<tr><td colspan=1><input type='checkbox' onchange='additionaldetails(this)' id='delivery' /> Delivery ? </td><td colspan=4><input type='text' class='form-control' id='deliveryvalue' placeholder='Please delivery address.' style='display:none' /></td></tr>"
    tablehtml += "<tr><td colspan=5><input type='checkbox' onchange='additionaldetails(this)' id='signature' /> Signature ? </td></tr>";
    tablehtml += "</table>";
    //tablehtml += "<br />";
    //tablehtml += "<form method='post' asp-controller='Home' asp-action='GeneratePDF'><input type='submit' value='BILL' /></form>"

    document.getElementById("billsection").innerHTML = tablehtml;
}

function additionaldetails(e) {
    if (e.id == "phoneno") {
        if (e.checked) {
            jq("#phonenovalue").show();
        }
        else {
            jq("#phonenovalue").hide();
        }
    }
    else if (e.id == "delivery") {
        if (e.checked) {
            jq("#deliveryvalue").show();
        }
        else {
            jq("#deliveryvalue").hide();
        }
    }
}

function deletefrombill(id) {
    itemsinbill.itemsadded.forEach(function(item) {
    
        console.log("itemid", item.id);
        console.log("id", id);
        if (item.id == id) {
            const index = itemsinbill.itemsadded.indexOf(item);
            if (index > -1) { 
              itemsinbill.itemsadded.splice(index, 1); 
            }
        }

    });

    createtable();
}

function generatebill() {

    var signelement = document.getElementById("signature");
    var phonenoelement = document.getElementById("phoneno");
    var deliveryelement = document.getElementById("delivery");

    if (signelement.checked) {
        itemsinbill.addSignatureInBill = "yes";
    }
    if (phonenoelement.checked) {
        itemsinbill.addMobileNo = (document.getElementById("phonenovalue").value).toString();
    }
    if (deliveryelement.checked) {
        itemsinbill.addDeliveryInBill = document.getElementById("deliveryvalue").value;
    }


    itemsinbill.itemsadded = JSON.stringify(itemsinbill.itemsadded);

    window.open('@Url.Action("GeneratePDF", "Home")' + '?allbills=' + JSON.stringify(itemsinbill), '_blank');

    document.getElementById("billsection").innerHTML = "";

    itemsinbill = {"addSignatureInBill":"", "addDeliveryInBill":"","addMobileNo":"", "itemsadded":[]};
    iteminbillid = 0;

    document.getElementByID("searchInput").focus();
}
</script>